{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<h1>About - czyli o tym, o czym może być powiedziane, że jest</h1>

<p>Powiedzieć, że istnieje, o czymś, czego nie ma, jest fałszem. Powiedzieć o tym, co jest, że jest, a o tym, czego nie ma, że go nie ma, jest prawdą.</p>

<p>Tak pojęcie prawdy próbował sformułować Arystoteles - to od niego pochodzi nadana tej koncepcji nazwa "klasycznej definicji prawdy".</p>

{% endblock content %}
