{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<body>
<h1>
  Contact</h1>

<p>Kontakt, a właściwie gniazdo elektryczne – złącze stanowiące część instalacji elektrycznej, służące do przyłączania do niej odbiorników energii elektrycznej. Gniazdo elektryczne stanowi część łącznika wtykowego. Gniazda wtykowe wykonywane są jako jednofazowe i trójfazowe. Gniazda jednofazowe dzieli się na podtynkowe i nadtynkowe.</p>

<p>Jest to jedno z potocznych znaczeń słowa "kontakt". Jednakże posiada ono ich jeszcze kilka, jako, że jest ono słowem wieloznacznym. Spośród nich warto wyróżnić jeszcze jedno.</p>

<p>Mianowicie słownik języka polskiego definiuje "kontakt" również jako - bliższe zetknięcie się z kimś lub z czymś</p>
    
<p>
Są to dwa, moim zdaniem najpopularniejsze znaczenia słowa "kontakt".   
</p>
    
{% endblock content %}
</body>
